---
import Layout from '~/layouts/PageLayout.astro';
import { config } from '../config';

const metadata = {
  title: 'Privacy Policy',
};

const currentDate = new Date();
const options = { year: 'numeric', month: 'short', day: 'numeric' };
const formattedDate = currentDate.toLocaleDateString('en-US', options);
---

<Layout metadata={metadata}>
  <section class="relative px-4 md:px-6 py-12 md:py-16 lg:py-10 text-default max-w-7xl mx-auto prose-lg prose-headings:font-bold">
    <h1 class="text-center text-xl md:text-2xl">Privacy Policy </h1>

    <div class="txt-privacy">
      <p>Last updated: {formattedDate}</p>

      <p>Your privacy is important to us. This Privacy Policy explains how we collect, use, and protect your information when you visit our software download site ({config.site.name}).</p>

      <h2>Information We Collect</h2>
      <p>We may collect personal information that you voluntarily provide to us when you register on our site, subscribe to our newsletter, or contact us through the contact form.</p>
  
      <h2>How We Use Your Information</h2>
      <p>The information we collect may be used to:</p>
      <ul>
          <li>Improve customer service and respond to user inquiries.</li>
          <li>Send periodic emails regarding your order or other products and services.</li>
          <li>Process transactions and send updates.</li>
      </ul>
  
      <h2>Information Protection</h2>
      <p>We implement a variety of security measures to maintain the safety of your personal information. Your information is stored behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems.</p>
  
      <h2>Cookies</h2>
      <p>Our site may use "cookies" to enhance the user experience. Users can choose to set their web browser to refuse cookies or to alert them when cookies are being sent.</p>
  
      <h2>Third-Party Disclosure</h2>
      <p>We do not sell, trade, or otherwise transfer your personally identifiable information to outside parties without your consent, except to provide products or services you request.</p>
  
      <h2>Changes to This Privacy Policy</h2>
      <p>We may update this Privacy Policy from time to time. We will notify you about significant changes in the way we treat personal information by sending a notice to the primary email address specified in your account or by placing a prominent notice on our site.</p>
  
      <h2>Contact Us</h2>
      <p>If you have any questions about this Privacy Policy, <a href=`${config.site.site}contact/` style="text-decoration: underline;">please contact us</a>.</p>
  
    </div>
  </section>
</Layout>